
/* 1024px */

@media only screen and (min-width: 1024px){
    .sticky .logo {
              margin-bottom: 1rem;
    }
}


@media only screen and (max-width: 1024px) {

    .mobail-menu span {
        display: block;
    }
    
    .main-nav {
        display: none;
    }

  


  
}




/* 480px */

@media only screen and (max-width: 480px) {
   
    .logo {
        margin-top: 1rem;
    }

}